<div class="container">
  <h1>Simple Angular Form Example</h1>
  <form *ngIf="!formSubmitted" #myForm="ngForm" (ngSubmit)="onSubmit(myForm,$event)">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name"  required pattern="[a-zA-Z ]*">
      <div *ngIf=" myForm.submitted || !myForm.controls['name']?.valid && myForm.controls['name']?.touched">
        Name is required
      </div>
    </div>

    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" ngModel required email>
      <div *ngIf="myForm.submitted || !myForm.controls['email']?.valid && myForm.controls['email']?.touched">
        Email is required
      </div>
    </div>

    <button [disabled]="myForm.invalid" type="submit">Submit</button>
  </form>

  <ng-template [ngIf]="formSubmitted">
    <div>
      Submitted successfully!
    </div>
  </ng-template>
</div>

<form [formGroup]="simpleForm" (ngSubmit)="onSubmiting()">
  <div >
    <div >
      <label for="name">Name:</label>
      <input type="text" formControlName="name">
      <small  *ngIf="simpleForm.get('name')?.invalid
                                    && simpleForm.get('name')?.touched">
       Valid name is required
      </small>
    </div>

    <div >
      <label for="email">Email:</label>
      <input  type="email" formControlName="email" [ngClass]="{'is-invalid':
                                    simpleForm.get('email')?.invalid
                                    && simpleForm.get('email')?.touched}">
      <small  *ngIf="simpleForm.get('email')?.invalid
                                    && simpleForm.get('email')?.touched">
        Valid Email is required
      </small>
    </div>
  </div>

  <div>
    <label for="role">Role</label>
    <select id="role" formControlName="role">
      <option value="admin">Admin</option>
      <option value="user">User</option>
    </select>
    <small *ngIf ="simpleForm.get('role')?.touched && simpleForm.get('role')?.invalid">
        Please select a role
    </small>
  </div>
  <button type="button" (click)="setValues()">SetDefaultvalues</button>
  <button type="submit" [disabled]="simpleForm.invalid">Submit</button>
</form>

<div class="container">
  <h1>Nested Form Group Example</h1>
  <form [formGroup]="mainForm" >
    <div formGroupName="shipaddress">
      <h3>Shipping Address</h3>
      <div>
        <label for="city">City :</label>
        <input type="text" id="city" formControlName="city">
        <small *ngIf="mainForm.get('shipaddress.city')?.invalid && mainForm.get('shipaddress.city')?.touched">
          city is required.
        </small>
      </div>
      <div>
        <label for="pincode">Pincode:</label>
        <input type="text" id="pincode" formControlName="pincode">
        <small *ngIf="mainForm.get('shipaddress.pincode')?.invalid && mainForm.get('shipaddress.pincode')?.touched">
          pincode is required.
        </small>
      </div>
    </div>

    <div formGroupName="billingaddress">
      <h3>billingaddress</h3>
      <div>
        <label >City:</label>
        <input type="text"  formControlName="city">
      </div>
      <div>
        <label >pincode:</label>
        <input type="text" formControlName="pincode">
      </div>
    </div>

    <button type="button" (click)="copyShippingAddres()">copyShippingAddresToBilling</button>
  </form>
</div>

<h1>Custom validation</h1>
<form [formGroup]="customForm" (ngSubmit)="onSubmiting()">
    <div >
      <label>Name:</label>
      <input  type="text" formControlName="name">
      <small  *ngIf="customForm.get('name')?.invalid
                                    && customForm.get('name')?.touched">
        Valid name is required
      </small>
    </div>

  <button type="submit" [disabled]="customForm.invalid">Submit</button>
</form>

<h1>Cross field validation</h1>
<form [formGroup]="crossFieldForm" (ngSubmit)="onSubmiting()">
  <div>
    <label >Password:</label>
    <input type="password" formControlName="password">
    <small *ngIf="crossFieldForm.get('password')?.invalid && crossFieldForm.get('password')?.touched">
      Password is required
    </small>
  </div>

  <div>
    <label >Confirm Password:</label>
    <input type="password" formControlName="confirmPassword">
    <small *ngIf="crossFieldForm.get('confirmPassword')?.invalid && crossFieldForm?.touched">
      Confirm Password is required
    </small>
    <small *ngIf="crossFieldForm.get('password')?.valid && crossFieldForm.get('confirmPassword')?.valid
        && crossFieldForm.errors?.['crossFieldValidation']">
      Passwords must match
    </small>
  </div>

  <button type="submit" [disabled]="crossFieldForm.invalid">Submit</button>
</form>


<h1>Dynamic form</h1>
<form [formGroup]="dynamicForm" (ngSubmit)="onSubmiting()">

  <button type="button" (click)="addDynamicField()">Add Dyanamic field</button>

  <div *ngFor="let field of dynamicForm.controls | keyvalue">
    <div>
      <label >Dynamic Field</label>
      <input type="text" [formControlName]="field.key">
    </div>
  </div>

  <button type="submit" [disabled]="dynamicForm.invalid">Submit</button>
</form>



<h1>Modal form</h1>
<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#simpleFormModal">
  Open Modal
</button>

<div class="modal fade" id="simpleFormModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Simple Form Modal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formModel" (ngSubmit)="onSubmitFormModel()">
          <div class="mb-3">
            <label for="name1" class="form-label">Name</label>
            <input type="text" id="name1" class="form-control" formControlName="name" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" [disabled]="formModel.invalid" (click)="onSubmitFormModel()">Submit</button>
      </div>
    </div>
  </div>
</div>


<div class="container mt-4">
  <h2>conditional validation</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmitcond()" class="mt-3">
    <label>
      <input type="checkbox" formControlName="addEmail">Add email
    </label>
    <div class="mb-3">
      <label for="email" class="form-label">Primary Email</label>
      <input type="email" class="form-control" formControlName="email">
    </div>
    <button type="submit" [disabled]="userForm.invalid">Submit</button>
  </form>
</div>

