<header class="header">
  <div class="container-fluid text-white p-2">
    <h1>Address Book</h1>
  </div>
</header>
<nav class="navbar navbar-expand bg-dark navbar-dark p-2">
  <div class="container-fluid">
    <div class="navbar-nav w-100 d-flex justify-content-between">
      <div class="d-flex">
        <a class="nav-item nav-link active" style="cursor:pointer" (click)="goToHome()">HOME</a>
        <a class="nav-item nav-link active" style="cursor:pointer" (click)="openAddContactForm()">+ADD</a>
      </div>
      <a class="nav-item nav-link active">
        <img src="assets/contacts.png" class="icon" alt="Icon">
      </a>
    </div>
  </div>
</nav>
