.header{
  height: 15vh;
  background-color: #3399cc;
  display: flex;
  color: white;
  font-size:1rem;
  padding-left: 20px;
  align-items: center;
  font-family: "Arial Rounded MT Bold";
}

.nav-item{
  font-weight: 500;
}

.icon{
  height:20px;
  width :20px;
}
